:root {
    --logo-primary-text: #000000;
    --hero-text-color: #FFFFFF;
    --hero-background-color: #2F303A;
    --footer-background-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-text-color: #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primaty-bg-color: #FFFFFF;
    --section-background-color: #CCCCCC;
    --filterbutton-main-color: #212121;
    --filterbutton-bg-color: #F5F4FA;}

html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: border-box;}
body {font-family: 'Roboto', sans-serif; color: var(--primary-text-color); background-color: var(--primaty-bg-color); font-size: 14px; letter-spacing: 0.03em}


p, h1, h2, h3, h4, h5, h6 {margin: 0px}
.address {font-style: normal;}

.list {list-style: none; margin: 0; padding-left: 0;}
.link, .header-logo, .header-logo {text-decoration: none; margin-right: 90px;}

/* img {display: block; max-width: 100%; height: auto;} */
.container {width: 1200px; padding: 0 15px; margin: 0 auto; outline: 2px solid red;}
.container-second {width: 1200px; padding: 0 15px; margin: 0 auto; outline: 2px solid red;}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

/* --- Кнопки (часть) ---  */
.hero-button, .filter-button {display: inline-block; font-family: inherit; cursor: pointer; border: 0;}
.hero-button:hover, .hero-button:focus {box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); border-radius: 4px;}

/* --- Логотип ---  */
.header-logo {font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-primary-text);}
.logo-web {color: var(--accent-color);}


/* --- Хэдер ---  */
.nav-link {font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--logo-primary-text);}
.nav-link {color: var(--logo-primary-text);}
.nav-link.link.current {color: var(--accent-color)}
.nav-link:hover, .nav-link:focus {color: var(--accent-color);}
.header-contancts-links {font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}
.header-contancts-links:hover, .header-contancts-links:focus, 
.map:hover, .footer-contacts:hover, .map:focus, .footer-contacts:focus {color: var(--accent-color);}
.header-nav, .header-contacts {display: flex;}


.header-nav .nav-link {display: block;}
.header-nav .header-item:not(:last-child) {margin-right: 50px;}
.main-nav {display: flex;}


.header-contacts {display: flex;}
.header-contacts .header-item + .header-item {margin-left: 50px;}  
/* .header-contacts .header-item:not(:last-child) {margin-right: 50px;} */



/* --- Футер ---  */
.footer {background: var(--footer-background-color)}
.footer-logo-studio {color: var(--primaty-bg-color);}
.map {font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primaty-bg-color)}
.footer-contacts {font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);}
.map:focus {color: var(--accent-color);}
.footer-contacts:focus {color: var(--accent-color);}

/* --- Hero ---  */
.section-hero {background: var(--hero-background-color); text-align: center;}
.hero-title {padding: 200px 238px 30px 238px; margin-bottom: 30px; font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);}


/* --- Hero Button ---  */
.hero-button {display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primaty-bg-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    margin-left: 700px;
    margin-bottom: 200px;
    margin-right: 700px;
    margin: 0 auto;}



/* --- Тайтл секций ---  */
.section-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);}

    /* --- Особенности ---  */
.features-title {font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);}
.features-text {line-height: 1.71;
    color: var(--primary-text-color)}
.comtainer.benefits {margin-bottom: 94px;}
.features-list {display: inline-flex;}


/* --- Галерея --- */
.gallery-list {display: inline-flex;}
.gallery-list .gallery-item:not(last-child) {margin-right: 30px;}


    /* --- Наша команда ---  */
.section-team {background-color: #F5F4FA}
.team-list {display: inline-flex;}
.team-list .team-title {font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);}
.team-job {font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color)}


/* --- Filter Buttons ---  */
.filter-button {font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--filterbutton-main-color);
    background-color: var(--second-button-color);}
.filter-button:hover, .filter-button:focus {
    color: var(--filterbutton-bg-color);
    background-color: var(--accent-color);}

/* --- Portfolio ---  */
.portfolio-title {font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color)}
.portfolio-text {font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color)}
